<main class="main">
  <div class="content">
    <div class="form-container">
      <div class="frame mat-elevation-z2 flex-grow-1" id="perform-step-button-wrapper">
        <button mat-raised-button (click)="performStep()">Step</button>
      </div>

      <div class="frame mat-elevation-z2 flex-grow-2">
        <app-pickup-form (pickupEvent)="pickupElevator($event)"></app-pickup-form>
      </div>

      <div class="frame mat-elevation-z2 flex-grow-2">
        <app-update-form (updatedElevator)="updateElevator($event)"></app-update-form>
      </div>

      <div class="frame mat-elevation-z2 flex-grow-1">
        <app-status-form (selectedElevatorId)="showStatus($event)"></app-status-form>
      </div>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
      </ng-container>

      <ng-container matColumnDef="currentFloor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Current floor </th>
        <td mat-cell *matCellDef="let element"> {{ element.currentFloor }} </td>
      </ng-container>

      <ng-container matColumnDef="destinationFloors">
        <th mat-header-cell *matHeaderCellDef> Destination floors </th>
        <td mat-cell *matCellDef="let element"> {{ element.destinationFloors.length > 0 ? element.destinationFloors.join(', ') : '-' }} </td>
      </ng-container>

      <ng-container matColumnDef="priorityFloor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Priority floor </th>
        <td mat-cell *matCellDef="let element"> {{ element.priorityFloor ?? '-' }} </td>
      </ng-container>

      <ng-container matColumnDef="direction">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Direction </th>
        <td mat-cell *matCellDef="let element"> {{ element.direction ?? '-' }} </td>
      </ng-container>

      <tr mat-header-row class="header-row" *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row [class.selected]="row.id === selectedId" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</main>
