.content {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.form-container {
  display: flex;
  flex-direction: row;
  gap: 2em;
  width: 100%;
}

.header-row {
  background-color: #6D98BA;
}

.selected {
  background-color: #9AADBF;
}
