.content {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 4em;
}

.header-row {
  background-color: #6D98BA;
}

.selected {
  background-color: #9AADBF;
}
