<button mat-raised-button (click)="submit()">Update</button>

<div class="form-row">
  <mat-form-field>
    <mat-label>elevator id</mat-label>
    <input matInput type="number" [formControl]="elevatorIdFormControl">
  </mat-form-field>

  <mat-form-field>
    <mat-label>current floor</mat-label>
    <input matInput type="number" [formControl]="currentFloorFormControl">
  </mat-form-field>
</div>

<div class="form-row">
  <mat-form-field class="full-width">
    <mat-label>destination floors</mat-label>
    <input matInput type="text" [formControl]="destinationFloorsFormControl" placeholder="e.g. 4,7,8">
  </mat-form-field>
</div>
